
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        @*Home Page*@
    </div>
</div>

<div class="d-flex flex-column">
    <div class="row p-0 m-0">
        <div class="p-2 col-lg-4 col-sm-12">
            <div class="card p-2">
                <h4 class="fs-4">Total Product</h4>
                <span>123</span>
            </div>
        </div>
        <div class="p-2 col-lg-4 col-sm-12">
            <div class="card p-2">
                <h4 class="fs-4">Total Customer</h4>
                <span>123</span>
            </div>
        </div>
        <div class="p-2 col-lg-4 col-sm-12">
            <div class="card p-2">
                <h4 class="fs-4">Total Product</h4>
                <span>123</span>
            </div>
        </div>
    </div>
</div>