@{
    Layout = "_AccountSettingsLayout";
    ViewData["Title"] = "Forgot Password";
}

<h2>Forgot Password</h2>


<div class="form-signin w-50 m-auto">
    <form asp-action="ForgotPassword" asp-controller="Account" method="post">
        <div class="mb-4">
            <h6>Reset Password</h6>
            <p>Enter your email to sent you verfication code to reset your password</p>
        </div>

        @if (ViewBag.Success == 2)
        {
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Verification code Sent</h4>
                <p>We have Sent You a code to this Email</p>
                <p>Please Check you indox</p>
                <hr>
                <a asp-action="ForgotPasswordVerification" asp-controller="Account">Verify your Code</a>
            </div>
        }
        else if (ViewBag.Success == 1)
        {
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Sorry</h4>
                <p>the Email you enter not exists in our Application</p>
                <hr>
                <a asp-action="ForgotPassword" asp-controller="Account" class=" mb-0">Try again</a>
            </div>
        }

        <div class="form-floating mb-3">
            <input name="Email" id="Email" class="form-control" placeholder="Enter your email">
            <label for="Email" class="form-label">Email</label>
        </div>

        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>



