@using AppRepository.Models;
@model UserForgotPasswordViewModel;

@{
    Layout = "_AccountSettingsLayout";
    ViewData["Title"] = "Forgot Password";
}


<h2>Reset Password</h2>


<div class="form-signin w-50 m-auto">
    <form asp-action="ForgotPasswordVerification" asp-controller="Account" method="post">


        @if (ViewBag.Success == 2)
        {
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <div>
                    Password has changed Successfully!
                </div>
            </div>
        }
        else if (ViewBag.Success == 1)
        {
            <div class="alert alert-danger" role="alert">
                <p>The code you entred is wrong!</p>
                <hr>
                <a asp-action="ForgotPassword" asp-controller="Account" class=" mb-0">Try again</a>
            </div>
        }

        <div class="form-floating mb-3">
            <input asp-for="Email" class="form-control" placeholder="">
            <label asp-for="Email" class="form-label"></label>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Code" class="form-control" placeholder="">
            <label asp-for="Code" class="form-label"></label>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="NewPassword" class="form-control" placeholder="">
            <label asp-for="NewPassword" class="form-label"></label>
        </div>

        <button type="submit" class="btn btn-primary">Reset</button>
    </form>
</div>

