<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web App MVC</title>

    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/all.min.css" />

</head>
<body>

    <main class="container-fluid p-0">
        <div class="d-flex">
            <div class="col-md-3 d-none d-md-flex flex-column p-0 position-fixed h-100">
                @{
                    await Html.RenderPartialAsync("_SideNav.cshtml");
                }
            </div>
            <div class="col-md-9 col-sm-12 p-0 ms-auto">
                @{
                    await Html.RenderPartialAsync("_NavBar.cshtml");
                }
                <div class="p-3">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>

    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>